src/XSDSchema/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="order">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="orderGroupId" type="xs:string"/>
                <xs:element name="userId" type="xs:integer"/>
                <xs:element name="ProductId" type="xs:integer"/>
                <xs:element name="quantity" type="xs:integer"/>
                <xs:element name="date" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>